version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: ecommerce_mysql_test
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hhplus_ecommerce_test
      MYSQL_CHARSET: utf8mb4
      MYSQL_COLLATION: utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    networks:
      - ecommerce_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: ecommerce_redis_test
    ports:
      - "6379:6379"
    networks:
      - ecommerce_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 3s
      retries: 5

networks:
  ecommerce_network:
    driver: bridge
