openapi: 3.0.3
info:
  title: 의류 이커머스 API
  description: |
    ## 📖 개요
    의류 이커머스 플랫폼의 RESTful API 문서입니다.
    
    ## 🎯 주요 기능
    - 🔍 상품 검색 및 필터링 (다중 색상/사이즈)
    - 📦 실시간 재고 관리 (동시성 제어)
    - 🛒 장바구니 및 주문 처리
    - 💳 결제 및 정산
    - 🎟️ 쿠폰 및 포인트 시스템
    - 🚚 배송 추적
    - 🔄 반품 및 교환
    - ⭐ 리뷰 시스템
    
    ## 🔐 인증
    대부분의 API는 JWT Bearer Token 인증이 필요합니다.
    
    ## ⚡ Rate Limiting
    - 인증된 사용자: 1000 req/hour
    - 비인증 사용자: 100 req/hour
    
    ## 📋 주요 비즈니스 로직
    ### 재고 관리
    - 재고 차감 시점: **결제 승인 시**
    - 재고 예약: 주문 생성 시 15분 TTL
    - 동시성 제어: Pessimistic Lock + Redis 분산 락
    
    ### 주문 프로세스
    1. 장바구니 추가 → 재고 조회만
    2. 주문 생성 → 재고 예약 (15분)
    3. 결제 승인 → 실재고 차감
    4. 결제 실패 → 예약 해제
    
    ### 반품/교환
    - 반품 가능 기간: 배송 완료 후 7일
    - 단순 변심: 고객 부담 6,000원
    - 불량/오배송: 무료

  version: 1.0.0
  contact:
    name: API Support
    email: api@fashionstore.com
    url: https://www.fashionstore.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.fashionstore.com/terms
  x-critical-features: |
    **⚠️ P0 Critical Features (반드시 구현):**

    1. **Idempotency Key** (멱등성 키)
       - 중복 결제 방지
       - 요청 헤더: `Idempotency-Key: {UUID}`
       - 결제 요청에 필수

    2. **Saga Pattern** (분산 트랜잭션)
       - 결제 + 재고 차감의 원자성 보장
       - 보상 트랜잭션 구현
       - 결제 실패 시 자동 환불

    3. **Webhook 보안** (PG사 Webhook)
       - HMAC-SHA256 서명 검증
       - Nonce + Timestamp 검증
       - Event ID 기반 멱등성

servers:
  - url: https://api.fashionstore.com/v1
    description: Production 서버
  - url: https://api-staging.fashionstore.com/v1
    description: Staging 서버
  - url: http://localhost:3000/v1
    description: Local 개발 서버

tags:
  - name: Products
    description: 상품 관리
    externalDocs:
      description: 상품 관리 가이드
      url: https://docs.fashionstore.com/products
  - name: Cart
    description: 장바구니
  - name: Orders
    description: 주문 관리
  - name: Payments
    description: 결제 처리
  - name: Coupons
    description: 쿠폰 시스템
  - name: Points
    description: 포인트 관리
  - name: Inventory
    description: 재고 관리
  - name: Shipments
    description: 배송 추적
  - name: Returns
    description: 반품 처리
  - name: Exchanges
    description: 교환 처리
  - name: Reviews
    description: 리뷰 시스템
  - name: Webhooks
    description: Webhook 수신 (외부 서비스 → 우리 서버)
  - name: Users
    description: 사용자 관리

paths:
  # ============================================
  # Products API
  # ============================================
  /products:
    get:
      tags:
        - Products
      summary: 상품 목록 조회
      description: |
        상품을 검색하고 필터링합니다.
        
        ### 필터링 예시
        - 카테고리 필터: `?category=jacket`
        - 다중 색상: `?color=black&color=navy`
        - 가격 범위: `?minPrice=50000&maxPrice=100000`
        - 재고 있는 상품만: `?inStock=true`
        
        ### 정렬 예시
        - 가격 낮은순: `?sort=price`
        - 가격 높은순: `?sort=-price`
        - 최신순: `?sort=-createdAt`
        - 인기순: `?sort=popularity`
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/CategoryFilter'
        - $ref: '#/components/parameters/BrandFilter'
        - $ref: '#/components/parameters/ColorFilter'
        - $ref: '#/components/parameters/SizeFilter'
        - $ref: '#/components/parameters/MinPrice'
        - $ref: '#/components/parameters/MaxPrice'
        - $ref: '#/components/parameters/InStock'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  - id: "prod_123"
                    name: "슬림핏 청바지"
                    brand: "LEVI'S"
                    category: "pants"
                    basePrice: 89000
                    salePrice: 79000
                    discountRate: 11
                    images:
                      - "https://cdn.fashionstore.com/prod_123_1.jpg"
                      - "https://cdn.fashionstore.com/prod_123_2.jpg"
                    variantCount: 12
                    rating: 4.5
                    reviewCount: 128
                    tags: ["베스트", "신상품"]
                pagination:
                  page: 1
                  limit: 20
                  total: 150
                  totalPages: 8
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /products/search:
    get:
      tags:
        - Products
      summary: 상품 검색
      description: 키워드로 상품을 검색합니다. Elasticsearch 기반.
      operationId: searchProducts
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: 검색 키워드
          example: "청바지"
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 검색 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  suggestions:
                    type: array
                    items:
                      type: string
                    description: 추천 검색어
        '400':
          $ref: '#/components/responses/BadRequest'

  /products/{productId}:
    get:
      tags:
        - Products
      summary: 상품 상세 조회
      description: 특정 상품의 상세 정보를 조회합니다.
      operationId: getProduct
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
          description: 상품 ID
          example: "prod_123"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
              example:
                id: "prod_123"
                name: "슬림핏 청바지"
                brand: "LEVI'S"
                category: "pants"
                description: "클래식한 핏의 청바지입니다."
                basePrice: 89000
                salePrice: 79000
                discountRate: 11
                material: "면 98%, 스판덱스 2%"
                careInstructions:
                  - "단독 세탁"
                  - "찬물 세탁"
                  - "건조기 사용 금지"
                images:
                  - "https://cdn.fashionstore.com/prod_123_1.jpg"
                  - "https://cdn.fashionstore.com/prod_123_2.jpg"
                variants:
                  - id: "var_456"
                    sku: "LEVI-501-BLK-32-REG"
                    color: "black"
                    colorHex: "#000000"
                    size: "32"
                    length: "regular"
                    stock: 15
                    stockStatus: "IN_STOCK"
                sizeGuide:
                  brand: "LEVI'S"
                  category: "pants"
                  measurements:
                    - size: "32"
                      waist: 82
                      hip: 98
                      length: 108
                rating: 4.5
                reviewCount: 128
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/UnexpectedError'

  /products/{productId}/variants:
    get:
      tags:
        - Products
      summary: 상품 변량 목록 조회
      description: 특정 상품의 모든 SKU(색상/사이즈 조합)를 조회합니다.
      operationId: listProductVariants
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
          example: "prod_123"
        - name: color
          in: query
          schema:
            type: string
          description: 색상 필터
        - name: size
          in: query
          schema:
            type: string
          description: 사이즈 필터
        - name: inStock
          in: query
          schema:
            type: boolean
          description: 재고 있는 변량만
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductVariant'
              example:
                - id: "var_456"
                  sku: "LEVI-501-BLK-32-REG"
                  color: "black"
                  colorHex: "#000000"
                  size: "32"
                  length: "regular"
                  price: 79000
                  stock: 15
                  stockStatus: "IN_STOCK"
                - id: "var_457"
                  sku: "LEVI-501-BLK-34-REG"
                  color: "black"
                  colorHex: "#000000"
                  size: "34"
                  length: "regular"
                  price: 79000
                  stock: 3
                  stockStatus: "LOW_STOCK"
        '404':
          $ref: '#/components/responses/NotFound'

  /skus/{sku}:
    get:
      tags:
        - Products
      summary: SKU 코드로 상품 조회
      description: SKU 코드로 직접 상품 변량을 조회합니다.
      operationId: getProductBySku
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
          example: "LEVI-501-BLK-32-REG"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariant'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # Cart API
  # ============================================
  /cart:
    get:
      tags:
        - Cart
      summary: 장바구니 조회
      description: 현재 사용자의 장바구니를 조회합니다.
      operationId: getCart
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
              example:
                items:
                  - id: "cart_item_1"
                    product:
                      id: "prod_123"
                      name: "슬림핏 청바지"
                      brand: "LEVI'S"
                    variant:
                      id: "var_456"
                      sku: "LEVI-501-BLK-32-REG"
                      color: "black"
                      size: "32"
                    quantity: 2
                    price: 79000
                    subtotal: 158000
                summary:
                  itemCount: 3
                  subtotal: 267000
                  estimatedShipping: 3000
                  estimatedTotal: 270000
        '401':
          $ref: '#/components/responses/Unauthorized'

    delete:
      tags:
        - Cart
      summary: 장바구니 전체 비우기
      description: 장바구니의 모든 항목을 삭제합니다.
      operationId: clearCart
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 성공
        '401':
          $ref: '#/components/responses/Unauthorized'

  /cart/items:
    post:
      tags:
        - Cart
      summary: 장바구니에 상품 추가
      description: |
        장바구니에 상품을 추가합니다.
        
        **주의사항:**
        - 재고가 부족하면 409 에러 반환
        - 이미 장바구니에 있는 상품은 수량 증가
      operationId: addToCart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - variantId
                - quantity
              properties:
                variantId:
                  type: string
                  description: 변량 ID (또는 SKU 코드)
                quantity:
                  type: integer
                  minimum: 1
                  maximum: 99
            example:
              variantId: "var_456"
              quantity: 2
      responses:
        '201':
          description: 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: 재고 부족
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: "INSUFFICIENT_STOCK"
                message: "재고가 부족합니다. 현재 재고: 3개"
                details:
                  availableStock: 3

  /cart/items/{itemId}:
    patch:
      tags:
        - Cart
      summary: 장바구니 항목 수량 변경
      description: 장바구니 항목의 수량을 변경합니다.
      operationId: updateCartItem
      security:
        - bearerAuth: []
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          example: "cart_item_1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quantity
              properties:
                quantity:
                  type: integer
                  minimum: 1
                  maximum: 99
            example:
              quantity: 3
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      tags:
        - Cart
      summary: 장바구니 항목 삭제
      description: 장바구니에서 특정 항목을 삭제합니다.
      operationId: removeFromCart
      security:
        - bearerAuth: []
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 삭제 성공
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # Orders API
  # ============================================
  /orders:
    get:
      tags:
        - Orders
      summary: 주문 목록 조회
      description: 사용자의 주문 목록을 조회합니다.
      operationId: listOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
          description: 주문 상태 필터
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: 시작 날짜
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: 종료 날짜
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Orders
      summary: 주문 생성
      description: |
        주문을 생성합니다.

        **프로세스:**
        1. 재고 예약 (15분 TTL)
        2. 배송비 계산 [P0]
        3. 쿠폰/포인트 적용
        4. 최종 금액 계산
        5. 주문 생성 (PENDING_PAYMENT 상태)

        **[P0] 배송비 계산 규칙 (최우선순):**

        1️⃣ **VIP 회원 확인** (최우선)
           - VIP 회원: **무료배송** (모든 상품, 모든 지역)

        2️⃣ **기본 배송비**
           - 기본값: **3,000원**
           - 무료배송 기준: **주문 금액 30,000원 이상**

        3️⃣ **지역 할증료**
           - 제주도: **+3,000원** 추가
           - 도서산간: **+3,000원** 추가
           - 배송 불가 지역: 선택 불가 (인터페이스에서 제거)

        **배송비 계산 예시:**
        - 일반회원, 주문액 50,000원, 서울 → **무료** (30K 이상)
        - 일반회원, 주문액 25,000원, 서울 → **3,000원** (기본)
        - 일반회원, 주문액 25,000원, 제주 → **6,000원** (3K + 3K 할증)
        - VIP회원, 주문액 10,000원, 제주 → **무료** (VIP)

        **주의사항:**
        - 15분 내에 결제를 완료해야 합니다.
        - 시간 초과 시 재고 예약이 자동 해제됩니다.
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            example:
              items:
                - variantId: "var_456"
                  quantity: 2
              shippingAddress:
                name: "홍길동"
                phone: "010-1234-5678"
                address: "서울특별시 강남구 테헤란로 123"
                addressDetail: "456호"
                zipCode: "06000"
              shippingMethod: "standard"
              couponCode: "SUMMER2024"
              pointsToUse: 5000
              agreeToTerms: true
              requestMessage: "부재 시 경비실에 맡겨주세요"
      responses:
        '201':
          description: 주문 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              example:
                id: "ord_789"
                orderNumber: "2024031500123"
                status: "PENDING_PAYMENT"
                reservationExpiry: "2024-03-15T10:45:00Z"
                items:
                  - id: "item_1"
                    product:
                      id: "prod_123"
                      name: "슬림핏 청바지"
                    variant:
                      sku: "LEVI-501-BLK-32-REG"
                    quantity: 2
                    price: 79000
                    subtotal: 158000
                payment:
                  amount: 156000
                  breakdown:
                    subtotal: 158000
                    discount: -10000
                    pointsUsed: -5000
                    shipping: 3000
                    total: 146000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: 재고 부족
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: "INSUFFICIENT_STOCK"
                message: "일부 상품의 재고가 부족합니다."

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: 주문 상세 조회
      description: 특정 주문의 상세 정보를 조회합니다.
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
          example: "ord_789"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{orderId}/cancel:
    post:
      tags:
        - Orders
      summary: 주문 취소
      description: |
        주문을 취소합니다.
        
        **취소 가능 조건:**
        - 결제 대기: 즉시 취소
        - 결제 완료: 환불 처리
        - 배송 준비중: 가능
        - 배송중/배송완료: 불가 (반품 필요)
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  enum:
                    - CHANGE_OF_MIND
                    - FOUND_BETTER_PRICE
                    - ACCIDENTAL_ORDER
                    - OTHER
                  description: 취소 사유
                detailReason:
                  type: string
                  maxLength: 500
                  description: 상세 사유
            example:
              reason: "CHANGE_OF_MIND"
              detailReason: "사이즈가 맞지 않을 것 같아요"
      responses:
        '200':
          description: 취소 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  refundAmount:
                    type: integer
                  refundMethod:
                    type: string
                  estimatedRefundDate:
                    type: string
                    format: date
              example:
                message: "주문이 취소되었습니다."
                refundAmount: 146000
                refundMethod: "CARD"
                estimatedRefundDate: "2024-03-20"
        '400':
          description: 취소 불가
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: "CANNOT_CANCEL"
                message: "이미 배송이 시작되어 취소할 수 없습니다. 반품을 신청해주세요."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # Payments API
  # ============================================
  /payments:
    post:
      tags:
        - Payments
      summary: 결제 요청
      description: |
        주문에 대한 결제를 요청합니다.

        **[P0] 멱등성 키 필수:**
        - 요청 헤더에 `Idempotency-Key` 포함 필수
        - UUID 형식 (예: `550e8400-e29b-41d4-a716-446655440000`)
        - 동일한 결제는 항상 같은 키 사용
        - 중복 요청 시 기존 결과 반환 (200 OK)

        **주의사항:**
        - 카드 정보는 PG사 토큰을 사용합니다.
        - 카드번호를 직접 전송하지 마세요.
        - 결제 승인 시 재고가 실제로 차감됩니다.

        **결제 실패 시:**
        - 재고 예약이 유지됩니다.
        - 최대 3회까지 재시도 가능합니다.
        - 새로운 `Idempotency-Key` 사용 시 재시도로 처리됨
      operationId: createPayment
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: '[P0] 멱등성 키 (중복 결제 방지)'
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            example:
              orderId: "ord_789"
              method: "CARD"
              amount: 146000
              cardInfo:
                pgToken: "tok_abc123def456"
      responses:
        '201':
          description: 결제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              example:
                id: "pay_999"
                orderId: "ord_789"
                status: "APPROVED"
                method: "CARD"
                amount: 146000
                transactionId: "pg_txn_123456"
                approvedAt: "2024-03-15T10:35:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: 결제 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: "PAYMENT_FAILED"
                message: "카드 한도가 부족합니다."
                details:
                  pgCode: "INSUFFICIENT_FUNDS"
                  retryable: true

  /payments/{paymentId}:
    get:
      tags:
        - Payments
      summary: 결제 상태 조회
      description: 결제 정보를 조회합니다.
      operationId: getPayment
      security:
        - bearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{paymentId}/refund:
    post:
      tags:
        - Payments
      summary: 결제 취소/환불
      description: |
        결제를 취소하거나 환불합니다.
        
        **환불 방법:**
        - 카드 결제: 승인 취소 (3~7일 소요)
        - 계좌이체: 환불 계좌로 입금 (영업일 기준 3일)
      operationId: refundPayment
      security:
        - bearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - reason
              properties:
                amount:
                  type: integer
                  description: 환불 금액 (부분 환불 가능)
                reason:
                  type: string
                  enum:
                    - ORDER_CANCELLED
                    - RETURN_APPROVED
                    - DEFECTIVE_PRODUCT
                  description: 환불 사유
            example:
              amount: 146000
              reason: "ORDER_CANCELLED"
      responses:
        '200':
          description: 환불 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  refundId:
                    type: string
                  amount:
                    type: integer
                  status:
                    type: string
                    enum:
                      - PENDING
                      - COMPLETED
                  estimatedDate:
                    type: string
                    format: date
              example:
                refundId: "ref_111"
                amount: 146000
                status: "PENDING"
                estimatedDate: "2024-03-20"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # Coupons API
  # ============================================
  /users/me/coupons:
    get:
      tags:
        - Coupons
      summary: 내 쿠폰 목록
      description: 사용 가능한 쿠폰 목록을 조회합니다.
      operationId: getMyCoupons
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - AVAILABLE
              - USED
              - EXPIRED
          description: 쿠폰 상태
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coupon'
              example:
                - id: "coupon_1"
                  code: "SUMMER2024"
                  name: "여름 시즌 10,000원 할인"
                  type: "FIXED_AMOUNT"
                  discount: 10000
                  minOrderAmount: 50000
                  status: "AVAILABLE"
                  expiresAt: "2024-12-31T23:59:59Z"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /coupons/validate:
    post:
      tags:
        - Coupons
      summary: 쿠폰 적용 가능 여부 검증
      description: 특정 주문에 쿠폰을 적용할 수 있는지 검증합니다.
      operationId: validateCoupon
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - couponCode
                - orderAmount
              properties:
                couponCode:
                  type: string
                orderAmount:
                  type: integer
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: string
                      variantId:
                        type: string
                      quantity:
                        type: integer
            example:
              couponCode: "SUMMER2024"
              orderAmount: 158000
              items:
                - productId: "prod_123"
                  variantId: "var_456"
                  quantity: 2
      responses:
        '200':
          description: 검증 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  discount:
                    type: integer
                  message:
                    type: string
              example:
                valid: true
                discount: 10000
                message: "10,000원 할인이 적용됩니다"
        '400':
          description: 검증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: "INVALID_COUPON"
                message: "최소 주문 금액(50,000원)을 충족하지 못했습니다."

  # ============================================
  # Points API
  # ============================================
  /users/me/points/balance:
    get:
      tags:
        - Points
      summary: 포인트 잔액 조회
      description: |
        사용 가능한 포인트 잔액을 조회합니다.

        **[P0] 포인트 시스템 규칙:**

        1️⃣ **포인트 적립 (EARNED)**
           - 구매 확정 (배송 완료 후): 결제액의 **1%**
           - 리뷰 작성: **500P** (일반 리뷰)
           - 포토 리뷰: **1,000P** (사진 5장 이상)
           - 추천 이벤트: **1,000P~5,000P** (정기 프로모션)

        2️⃣ **포인트 사용 (USED)**
           - 결제 시점: 주문 생성 → 결제 승인 전 적용
           - 최소 단위: **100P 단위**로만 사용 가능
           - 최대 제한: 주문금액의 **50% 이상 포인트 사용 불가**
           - 포인트 사용 실패 시: 자동 환불 (Saga Pattern)

        3️⃣ **포인트 소멸 (EXPIRED)**
           - 적립일로부터 **12개월 경과** 시 자동 소멸
           - 소멸 7일 전: 사용자 알림 (이메일 + 푸시)
           - 미사용 포인트 확인: `expiringPoints` 필드 참조

        4️⃣ **포인트 복구 (RECOVERY)**
           - 반품 완료 시: 반품 대상 상품 구매 시 적립된 포인트 반환
           - 부분 반품: 해당 상품만 비례계산 복구
           - 예시: 10,000원 상품 환불 → 적립된 100P 환불

        **잔액 조회 예시:**
        - 총 보유: 25,000P
        - 사용 가능: 22,000P (30일 이내 소멸 3,000P 제외)
        - 곧 소멸: 3,000P (2024-12-31 소멸 예정)
      operationId: getPointBalance
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                  expiringPoints:
                    type: integer
                    description: 곧 소멸될 포인트 (30일 이내)
                  expiryDate:
                    type: string
                    format: date
              example:
                balance: 15000
                expiringPoints: 3000
                expiryDate: "2024-12-31"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/points/history:
    get:
      tags:
        - Points
      summary: 포인트 히스토리
      description: 포인트 적립/사용 내역을 조회합니다.
      operationId: getPointHistory
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - EARNED
              - USED
              - EXPIRED
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PointHistory'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # Inventory API
  # ============================================
  /inventory/skus/{sku}:
    get:
      tags:
        - Inventory
      summary: 실시간 재고 조회
      description: SKU의 실시간 재고 정보를 조회합니다.
      operationId: getInventory
      parameters:
        - name: sku
          in: path
          required: true
          schema:
            type: string
          example: "LEVI-501-BLK-32-REG"
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory'
              example:
                sku: "LEVI-501-BLK-32-REG"
                available: 15
                reserved: 3
                physical: 20
                safetyStock: 2
                status: "IN_STOCK"
        '404':
          $ref: '#/components/responses/NotFound'

  /inventory/restock-notifications:
    post:
      tags:
        - Inventory
      summary: 재입고 알림 신청
      description: 품절 상품의 재입고 알림을 신청합니다.
      operationId: subscribeRestockNotification
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sku
              properties:
                sku:
                  type: string
                notifyVia:
                  type: array
                  items:
                    type: string
                    enum:
                      - EMAIL
                      - PUSH
                      - SMS
            example:
              sku: "LEVI-501-BLK-32-REG"
              notifyVia: ["EMAIL", "PUSH"]
      responses:
        '201':
          description: 신청 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "재입고 알림이 신청되었습니다."
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # Shipments API
  # ============================================
  /shipments/{shipmentId}/tracking:
    get:
      tags:
        - Shipments
      summary: 배송 추적
      description: 배송 상태를 실시간으로 추적합니다.
      operationId: trackShipment
      parameters:
        - name: shipmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentTracking'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # Returns API
  # ============================================
  /returns:
    post:
      tags:
        - Returns
      summary: 반품 요청
      description: |
        상품 반품을 요청합니다.
        
        **반품 가능 기간:** 배송 완료 후 7일 이내
        
        **반품 배송비:**
        - 단순 변심: 고객 부담 (6,000원)
        - 불량/오배송: 판매자 부담 (무료)
      operationId: createReturn
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReturnRequest'
      responses:
        '201':
          description: 반품 요청 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Return'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /returns/{returnId}:
    get:
      tags:
        - Returns
      summary: 반품 상태 조회
      operationId: getReturn
      security:
        - bearerAuth: []
      parameters:
        - name: returnId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # Exchanges API
  # ============================================
  /exchanges:
    post:
      tags:
        - Exchanges
      summary: 교환 요청
      description: 상품 교환을 요청합니다 (다른 사이즈/색상으로 변경).
      operationId: createExchange
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExchangeRequest'
      responses:
        '201':
          description: 교환 요청 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /exchanges/{exchangeId}:
    get:
      tags:
        - Exchanges
      summary: 교환 상태 조회
      operationId: getExchange
      security:
        - bearerAuth: []
      parameters:
        - name: exchangeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # Reviews API
  # ============================================
  /products/{productId}/reviews:
    get:
      tags:
        - Reviews
      summary: 상품 리뷰 목록
      description: 특정 상품의 리뷰를 조회합니다.
      operationId: listProductReviews
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: rating
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
          description: 평점 필터
        - name: hasPhoto
          in: query
          schema:
            type: boolean
          description: 포토 리뷰만 보기
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - recent
              - helpful
            default: recent
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  summary:
                    type: object
                    properties:
                      averageRating:
                        type: number
                      totalReviews:
                        type: integer
                      ratingDistribution:
                        type: object
                        properties:
                          5:
                            type: integer
                          4:
                            type: integer
                          3:
                            type: integer
                          2:
                            type: integer
                          1:
                            type: integer

  /reviews:
    post:
      tags:
        - Reviews
      summary: 리뷰 작성
      description: |
        구매 확정 후 리뷰를 작성할 수 있습니다.
        
        **포인트 적립:**
        - 일반 리뷰: 500P
        - 포토 리뷰: 1,000P
      operationId: createReview
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: 리뷰 작성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /reviews/{reviewId}:
    patch:
      tags:
        - Reviews
      summary: 리뷰 수정
      operationId: updateReview
      security:
        - bearerAuth: []
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                title:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Reviews
      summary: 리뷰 삭제
      operationId: deleteReview
      security:
        - bearerAuth: []
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 삭제 성공
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /reviews/{reviewId}/helpful:
    post:
      tags:
        - Reviews
      summary: 리뷰 도움됨 표시
      operationId: markReviewHelpful
      security:
        - bearerAuth: []
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  helpfulCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # Webhooks API
  # ============================================
  /webhooks/payment:
    post:
      tags:
        - Webhooks
      summary: 결제 Webhook 수신 (PG사 → 우리 서버)
      description: |
        PG사에서 결제 결과를 전송하는 Webhook입니다.

        **[P0] Webhook 보안 (반드시 구현):**

        1️⃣ **HMAC-SHA256 서명 검증**
           - 헤더: `X-Signature: {HMAC-SHA256-HEX}`
           - 서명 대상: 요청 바디 (문자열화된 JSON)
           - 비밀키: 환경변수 `WEBHOOK_SECRET_KEY`
           - 검증 실패 시: **401 Unauthorized** 반환
           ```
           signature = HMAC-SHA256(body, secret_key)
           if signature != X-Signature header: return 401
           ```

        2️⃣ **Nonce + Timestamp 검증**
           - 헤더: `X-Nonce: {UUID}` (PG사 이벤트 고유 ID)
           - 헤더: `X-Timestamp: {Unix-timestamp}` (밀리초 단위)
           - 타임스탬프 검증: 현재 시간 ±5분 범위
           - 시간 초과: **400 Bad Request** 반환
           ```
           if |currentTime - X-Timestamp| > 5 minutes: return 400
           ```

        3️⃣ **Event ID 기반 멱등성 (Idempotency)**
           - DB에 수신한 `X-Nonce` 저장
           - 중복 요청 감지: SELECT WHERE nonce = X-Nonce
           - 중복이면: 기존 결과 반환 (200 OK + 이전 응답)
           - 중복 아니면: 새로 처리
           ```
           if exists(webhooks.nonce = X-Nonce):
               return savedResponse[nonce]
           else:
               process payment → save response → return 200
           ```

        **구현 예시:**
        ```
        POST /webhooks/payment
        Content-Type: application/json
        X-Signature: a1b2c3d4...
        X-Nonce: 550e8400-e29b-41d4-a716-446655440000
        X-Timestamp: 1710489300000

        {
          "paymentId": "pg_txn_123456",
          "orderId": "ord_789",
          "status": "completed",
          "amount": 146000
        }
        ```

        **응답:**
        - 성공 (200): `{"status": "received", "nonce": "550e8400..."}`
        - 중복 (200): 이전 응답과 동일하게 반환
        - 검증 실패 (401/400): 에러 메시지

        **주의사항:**
        - 3회 이상 실패 시: 재시도 안 함 (PG사 정책)
        - 타임아웃 설정: 5초 이내 응답 필수
        - 응답 본문: 간결하게 (PG사는 본문 읽지 않음)
      operationId: receivePaymentWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paymentId
                - orderId
                - status
                - amount
              properties:
                paymentId:
                  type: string
                  description: PG사 결제 ID
                orderId:
                  type: string
                  description: 우리 서버의 주문 ID
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                  description: 결제 상태
                amount:
                  type: integer
                  description: 결제 금액 (원)
                transactionId:
                  type: string
                  description: PG사 거래 ID
                failReason:
                  type: string
                  description: 실패 사유 (status=failed인 경우만)
            example:
              paymentId: "pg_txn_123456"
              orderId: "ord_789"
              status: "completed"
              amount: 146000
              transactionId: "txn_abc123"
      responses:
        '200':
          description: 웹훅 수신 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "received"
                  nonce:
                    type: string
                    description: 중복 방지를 위한 Event ID
        '400':
          description: 타임스탐프 검증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: "INVALID_TIMESTAMP"
                message: "요청 시간이 초과되었습니다. (±5분 범위)"
        '401':
          description: 서명 검증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: "INVALID_SIGNATURE"
                message: "HMAC-SHA256 서명 검증에 실패했습니다."

  # ============================================
  # Users API
  # ============================================
  /users/register:
    post:
      tags:
        - Users
      summary: 회원가입
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: 가입 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: 이미 존재하는 이메일
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/login:
    post:
      tags:
        - Users
      summary: 로그인
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
            example:
              email: "user@example.com"
              password: "********"
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me:
    get:
      tags:
        - Users
      summary: 내 정보 조회
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags:
        - Users
      summary: 내 정보 수정
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                phone:
                  type: string
                  pattern: '^\d{3}-\d{4}-\d{4}$'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/addresses:
    get:
      tags:
        - Users
      summary: 배송지 목록 조회
      operationId: listAddresses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Users
      summary: 배송지 추가
      operationId: createAddress
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '201':
          description: 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/size-profile:
    get:
      tags:
        - Users
      summary: 사이즈 프로필 조회
      operationId: getSizeProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SizeProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags:
        - Users
      summary: 사이즈 프로필 수정
      operationId: updateSizeProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SizeProfile'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SizeProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ============================================
# Components
# ============================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer Token을 사용합니다.
        
        **헤더 예시:**
        Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

  parameters:
    # 공통 필터 파라미터
    CategoryFilter:
      name: category
      in: query
      schema:
        type: string
        enum:
          - tops
          - bottoms
          - outerwear
          - dresses
          - shoes
          - accessories
      description: 카테고리 필터

    BrandFilter:
      name: brand
      in: query
      schema:
        type: string
      description: 브랜드 필터
      example: "LEVI'S"

    ColorFilter:
      name: color
      in: query
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
      description: 색상 필터 (다중 선택 가능)
      example: ["black", "navy"]

    SizeFilter:
      name: size
      in: query
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
      description: 사이즈 필터 (다중 선택 가능)
      example: ["S", "M", "L"]

    MinPrice:
      name: minPrice
      in: query
      schema:
        type: integer
        minimum: 0
      description: 최소 가격
      example: 50000

    MaxPrice:
      name: maxPrice
      in: query
      schema:
        type: integer
        minimum: 0
      description: 최대 가격
      example: 100000

    InStock:
      name: inStock
      in: query
      schema:
        type: boolean
        default: false
      description: 재고 있는 상품만 조회

    Sort:
      name: sort
      in: query
      schema:
        type: string
        enum:
          - price
          - -price
          - createdAt
          - -createdAt
          - popularity
        default: -createdAt
      description: |
        정렬 기준
        - `price`: 가격 낮은순
        - `-price`: 가격 높은순
        - `createdAt`: 오래된순
        - `-createdAt`: 최신순 (기본값)
        - `popularity`: 인기순

    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: 페이지 번호

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: 페이지당 항목 수

  schemas:
    # ============================================
    # Common Schemas
    # ============================================
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: 에러 코드
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: 에러 메시지
          example: "요청 데이터가 올바르지 않습니다."
        details:
          type: object
          description: 추가 에러 정보
          additionalProperties: true
          example:
            field: "email"
            issue: "이미 사용중인 이메일입니다."

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: 현재 페이지
          example: 1
        limit:
          type: integer
          description: 페이지당 항목 수
          example: 20
        total:
          type: integer
          description: 전체 항목 수
          example: 150
        totalPages:
          type: integer
          description: 전체 페이지 수
          example: 8

    # ============================================
    # Product Schemas
    # ============================================
    Product:
      type: object
      properties:
        id:
          type: string
          example: "prod_123"
        name:
          type: string
          example: "슬림핏 청바지"
        brand:
          type: string
          example: "LEVI'S"
        category:
          type: string
          enum:
            - tops
            - bottoms
            - outerwear
            - dresses
            - shoes
            - accessories
          example: "pants"
        basePrice:
          type: integer
          description: 정가
          example: 89000
        salePrice:
          type: integer
          description: 판매가 (할인 적용)
          example: 79000
        discountRate:
          type: integer
          description: 할인율 (%)
          example: 11
        images:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          example:
            - "https://cdn.fashionstore.com/prod_123_1.jpg"
            - "https://cdn.fashionstore.com/prod_123_2.jpg"
        variantCount:
          type: integer
          description: 변량 개수 (색상×사이즈 조합)
          example: 12
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
          example: 4.5
        reviewCount:
          type: integer
          example: 128
        tags:
          type: array
          items:
            type: string
          example: ["베스트", "신상품"]
        createdAt:
          type: string
          format: date-time

    ProductDetail:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            description:
              type: string
              description: 상품 설명
              example: "클래식한 핏의 청바지로 어떤 스타일에도 잘 어울립니다."
            material:
              type: string
              example: "면 98%, 스판덱스 2%"
            careInstructions:
              type: array
              items:
                type: string
              example:
                - "단독 세탁"
                - "찬물 세탁"
                - "건조기 사용 금지"
            variants:
              type: array
              items:
                $ref: '#/components/schemas/ProductVariant'
              description: 모든 변량 (SKU)
            sizeGuide:
              $ref: '#/components/schemas/SizeGuide'
            relatedProducts:
              type: array
              items:
                $ref: '#/components/schemas/Product'
              description: 연관 상품 추천

    ProductVariant:
      type: object
      properties:
        id:
          type: string
          example: "var_456"
        sku:
          type: string
          description: SKU 코드
          example: "LEVI-501-BLK-32-REG"
        color:
          type: string
          example: "black"
        colorHex:
          type: string
          description: 색상 HEX 코드
          example: "#000000"
        size:
          type: string
          example: "32"
        length:
          type: string
          enum:
            - regular
            - short
            - long
          example: "regular"
        price:
          type: integer
          description: 판매 가격
          example: 79000
        originalPrice:
          type: integer
          description: 원가
          example: 89000
        stock:
          type: integer
          description: 가용 재고
          example: 15
        stockStatus:
          type: string
          enum:
            - IN_STOCK
            - LOW_STOCK
            - OUT_OF_STOCK
          example: "IN_STOCK"
        images:
          type: array
          items:
            type: string
            format: uri
          description: 변량별 이미지

    SizeGuide:
      type: object
      properties:
        brand:
          type: string
          example: "LEVI'S"
        category:
          type: string
          example: "pants"
        measurements:
          type: array
          items:
            type: object
            properties:
              size:
                type: string
                example: "32"
              waist:
                type: number
                description: 허리둘레 (cm)
                example: 82
              hip:
                type: number
                description: 엉덩이둘레 (cm)
                example: 98
              length:
                type: number
                description: 길이 (cm)
                example: 108

    # ============================================
    # Cart Schemas
    # ============================================
    Cart:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        summary:
          type: object
          properties:
            itemCount:
              type: integer
              description: 상품 종류 수
              example: 3
            subtotal:
              type: integer
              description: 상품 금액 합계
              example: 267000
            estimatedShipping:
              type: integer
              description: 예상 배송비
              example: 3000
            estimatedTotal:
              type: integer
              description: 예상 총액
              example: 270000

    CartItem:
      type: object
      properties:
        id:
          type: string
          example: "cart_item_1"
        product:
          $ref: '#/components/schemas/Product'
        variant:
          $ref: '#/components/schemas/ProductVariant'
        quantity:
          type: integer
          minimum: 1
          example: 2
        price:
          type: integer
          description: 개당 가격
          example: 79000
        subtotal:
          type: integer
          description: 소계
          example: 158000
        addedAt:
          type: string
          format: date-time

    # ============================================
    # Order Schemas
    # ============================================
    OrderStatus:
      type: string
      enum:
        - PENDING_PAYMENT     # 결제 대기
        - PAID                # 결제 완료
        - PREPARING           # 상품 준비중
        - SHIPPED             # 배송 시작
        - DELIVERED           # 배송 완료
        - CANCELLED           # 취소
        - RETURN_REQUESTED    # 반품 요청
        - RETURN_COMPLETED    # 반품 완료
        - EXCHANGE_REQUESTED  # 교환 요청
        - EXCHANGE_COMPLETED  # 교환 완료
      description: 주문 상태

    CreateOrderRequest:
      type: object
      required:
        - items
        - shippingAddress
        - agreeToTerms
      properties:
        items:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - variantId
              - quantity
            properties:
              variantId:
                type: string
              quantity:
                type: integer
                minimum: 1
        shippingAddress:
          $ref: '#/components/schemas/Address'
        shippingMethod:
          type: string
          enum:
            - standard
            - express
            - dawn
          default: standard
          description: 배송 방법
        couponCode:
          type: string
          description: 쿠폰 코드 (선택)
        pointsToUse:
          type: integer
          minimum: 0
          description: 사용할 포인트 (선택)
        agreeToTerms:
          type: boolean
          description: 구매 약관 동의 (필수)
        requestMessage:
          type: string
          maxLength: 200
          description: 배송 요청사항 (선택)

    Order:
      type: object
      properties:
        id:
          type: string
          example: "ord_789"
        orderNumber:
          type: string
          description: 주문번호
          example: "2024031500123"
        status:
          $ref: '#/components/schemas/OrderStatus'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        payment:
          $ref: '#/components/schemas/OrderPayment'
        reservationExpiry:
          type: string
          format: date-time
          description: 재고 예약 만료 시간 (15분 TTL)
          example: "2024-03-15T10:45:00Z"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderDetail:
      allOf:
        - $ref: '#/components/schemas/Order'
        - type: object
          properties:
            shipping:
              $ref: '#/components/schemas/OrderShipping'
            timeline:
              type: array
              description: 주문 상태 변경 이력
              items:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/OrderStatus'
                  timestamp:
                    type: string
                    format: date-time
                  note:
                    type: string

    OrderItem:
      type: object
      properties:
        id:
          type: string
        product:
          $ref: '#/components/schemas/Product'
        variant:
          $ref: '#/components/schemas/ProductVariant'
        quantity:
          type: integer
        price:
          type: integer
          description: 주문 당시 가격 (스냅샷)
        subtotal:
          type: integer

    OrderPayment:
      type: object
      properties:
        amount:
          type: integer
          description: 최종 결제 금액
        breakdown:
          type: object
          description: 금액 상세
          properties:
            subtotal:
              type: integer
              description: 상품 금액
            discount:
              type: integer
              description: 쿠폰 할인 (음수)
            pointsUsed:
              type: integer
              description: 포인트 사용 (음수)
            shipping:
              type: integer
              description: 배송비
            total:
              type: integer
              description: 최종 금액

    OrderShipping:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        method:
          type: string
          enum:
            - standard
            - express
            - dawn
        fee:
          type: integer
          description: 배송비
        trackingNumber:
          type: string
          description: 송장 번호
        carrier:
          type: string
          description: 택배사
          example: "CJ대한통운"
        estimatedDelivery:
          type: string
          format: date
          description: 예상 배송일

    # ============================================
    # Payment Schemas
    # ============================================
    CreatePaymentRequest:
      type: object
      required:
        - orderId
        - method
        - amount
      properties:
        orderId:
          type: string
        method:
          type: string
          enum:
            - CARD
            - TRANSFER
            - VIRTUAL_ACCOUNT
            - KAKAO_PAY
            - NAVER_PAY
          description: 결제 수단
        amount:
          type: integer
          description: 결제 금액
        cardInfo:
          type: object
          description: PG사 토큰 (카드번호 직접 전송 금지!)
          properties:
            pgToken:
              type: string
              description: PG사에서 발급한 카드 토큰

    Payment:
      type: object
      properties:
        id:
          type: string
          example: "pay_999"
        orderId:
          type: string
        status:
          type: string
          enum:
            - PENDING
            - APPROVED
            - FAILED
            - CANCELLED
            - REFUNDED
        method:
          type: string
          example: "CARD"
        amount:
          type: integer
        transactionId:
          type: string
          description: PG사 거래 ID
          example: "pg_txn_123456"
        approvedAt:
          type: string
          format: date-time
        failReason:
          type: string
          description: 실패 사유 (실패한 경우만)

    # ============================================
    # Coupon Schemas
    # ============================================
    Coupon:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
          example: "SUMMER2024"
        name:
          type: string
          example: "여름 시즌 10,000원 할인"
        type:
          type: string
          enum:
            - FIXED_AMOUNT   # 정액
            - PERCENTAGE     # 정률
            - FREE_SHIPPING  # 배송비 무료
            - BUY_N_GET_1    # N+1
        discount:
          type: integer
          description: 할인 금액 또는 할인율
          example: 10000
        minOrderAmount:
          type: integer
          description: 최소 주문 금액
          example: 50000
        maxDiscountAmount:
          type: integer
          description: 최대 할인 금액 (정률 쿠폰의 경우)
        status:
          type: string
          enum:
            - AVAILABLE
            - USED
            - EXPIRED
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time

    # ============================================
    # Point Schemas
    # ============================================
    PointHistory:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - EARNED
            - USED
            - EXPIRED
        amount:
          type: integer
          description: 포인트 (적립은 +, 사용/소멸은 -)
        description:
          type: string
          example: "주문 구매 확정 (ord_789)"
        createdAt:
          type: string
          format: date-time
        expiryDate:
          type: string
          format: date
          description: 소멸 예정일

    # ============================================
    # Inventory Schemas
    # ============================================
    Inventory:
      type: object
      properties:
        sku:
          type: string
          example: "LEVI-501-BLK-32-REG"
        available:
          type: integer
          description: 가용 재고 (판매 가능)
          example: 15
        reserved:
          type: integer
          description: 예약 재고 (결제 대기중)
          example: 3
        physical:
          type: integer
          description: 물리적 재고 (창고 실재고)
          example: 20
        safetyStock:
          type: integer
          description: 안전 재고 (최소 유지 수량)
          example: 2
        status:
          type: string
          enum:
            - IN_STOCK
            - LOW_STOCK
            - OUT_OF_STOCK
        lastUpdated:
          type: string
          format: date-time

    # ============================================
    # Shipment Schemas
    # ============================================
    ShipmentTracking:
      type: object
      properties:
        shipmentId:
          type: string
        orderId:
          type: string
        carrier:
          type: string
          example: "CJ대한통운"
        trackingNumber:
          type: string
          example: "123456789012"
        status:
          type: string
          enum:
            - PREPARING
            - PICKED_UP
            - IN_TRANSIT
            - OUT_FOR_DELIVERY
            - DELIVERED
          example: "IN_TRANSIT"
        estimatedDelivery:
          type: string
          format: date
        events:
          type: array
          description: 배송 이벤트 타임라인
          items:
            type: object
            properties:
              status:
                type: string
              location:
                type: string
              timestamp:
                type: string
                format: date-time
              description:
                type: string

    # ============================================
    # Return Schemas
    # ============================================
    CreateReturnRequest:
      type: object
      required:
        - orderId
        - items
        - refundMethod
      properties:
        orderId:
          type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - orderItemId
              - quantity
              - reason
            properties:
              orderItemId:
                type: string
              quantity:
                type: integer
                minimum: 1
              reason:
                type: string
                enum:
                  - SIZE_ISSUE
                  - DEFECTIVE
                  - WRONG_ITEM
                  - NOT_AS_DESCRIBED
                  - CHANGE_OF_MIND
                description: 반품 사유
              detailReason:
                type: string
                maxLength: 500
              images:
                type: array
                items:
                  type: string
                  format: uri
                description: 불량 사진 (불량인 경우 필수)
        refundMethod:
          type: string
          enum:
            - ORIGINAL    # 원결제수단
            - ACCOUNT     # 계좌 환불
        bankAccount:
          type: object
          description: 계좌 환불 시 필수
          properties:
            bank:
              type: string
            accountNumber:
              type: string
            holder:
              type: string

    Return:
      type: object
      properties:
        id:
          type: string
          example: "ret_111"
        orderId:
          type: string
        status:
          type: string
          enum:
            - REQUESTED
            - APPROVED
            - REJECTED
            - SHIPPING
            - RECEIVED
            - INSPECTING
            - COMPLETED
        items:
          type: array
          items:
            type: object
            properties:
              orderItemId:
                type: string
              quantity:
                type: integer
              reason:
                type: string
        returnShipping:
          type: object
          properties:
            method:
              type: string
              enum:
                - CUSTOMER_ARRANGED
                - SELLER_PICKUP
            fee:
              type: integer
              description: 반품 배송비
            feePaymentBy:
              type: string
              enum:
                - CUSTOMER
                - SELLER
        expectedRefund:
          type: integer
          description: 예상 환불 금액
        createdAt:
          type: string
          format: date-time

    ReturnDetail:
      allOf:
        - $ref: '#/components/schemas/Return'
        - type: object
          properties:
            timeline:
              type: array
              items:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  note:
                    type: string

    # ============================================
    # Exchange Schemas
    # ============================================
    CreateExchangeRequest:
      type: object
      required:
        - orderId
        - items
      properties:
        orderId:
          type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - orderItemId
              - fromVariantId
              - toVariantId
              - reason
            properties:
              orderItemId:
                type: string
              fromVariantId:
                type: string
                description: 기존 변량 ID
              toVariantId:
                type: string
                description: 교환할 변량 ID
              reason:
                type: string
                enum:
                  - SIZE_ISSUE
                  - COLOR_ISSUE
                  - DEFECTIVE

    Exchange:
      type: object
      properties:
        id:
          type: string
          example: "ex_222"
        orderId:
          type: string
        status:
          type: string
          enum:
            - REQUESTED
            - APPROVED
            - REJECTED
            - SHIPPING_OLD
            - OLD_RECEIVED
            - INSPECTING
            - SHIPPING_NEW
            - COMPLETED
        items:
          type: array
          items:
            type: object
            properties:
              orderItemId:
                type: string
              fromVariant:
                $ref: '#/components/schemas/ProductVariant'
              toVariant:
                $ref: '#/components/schemas/ProductVariant'
        stockStatus:
          type: string
          enum:
            - AVAILABLE
            - OUT_OF_STOCK
          description: 교환 상품 재고 상태
        exchangeShipping:
          type: object
          properties:
            fee:
              type: integer
            feePaymentBy:
              type: string
              enum:
                - CUSTOMER
                - SELLER
        createdAt:
          type: string
          format: date-time

    ExchangeDetail:
      allOf:
        - $ref: '#/components/schemas/Exchange'
        - type: object
          properties:
            timeline:
              type: array
              items:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  note:
                    type: string

    # ============================================
    # Review Schemas
    # ============================================
    CreateReviewRequest:
      type: object
      required:
        - orderId
        - orderItemId
        - rating
        - content
      properties:
        orderId:
          type: string
        orderItemId:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        title:
          type: string
          maxLength: 100
        content:
          type: string
          minLength: 10
          maxLength: 1000
        images:
          type: array
          items:
            type: string
            format: uri
          maxItems: 10
          description: 포토 리뷰 (선택)
        sizeRating:
          type: string
          enum:
            - TOO_SMALL
            - FITS_WELL
            - TOO_LARGE
          description: 사이즈 평가

    Review:
      type: object
      properties:
        id:
          type: string
        orderId:
          type: string
        orderItemId:
          type: string
        user:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            tier:
              type: string
              enum:
                - GENERAL
                - VIP
        product:
          $ref: '#/components/schemas/Product'
        variant:
          $ref: '#/components/schemas/ProductVariant'
        rating:
          type: integer
          minimum: 1
          maximum: 5
        title:
          type: string
        content:
          type: string
        images:
          type: array
          items:
            type: string
            format: uri
        sizeRating:
          type: string
          enum:
            - TOO_SMALL
            - FITS_WELL
            - TOO_LARGE
        helpfulCount:
          type: integer
          description: 도움됨 수
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ============================================
    # User Schemas
    # ============================================
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - name
        - phone
        - agreeToTerms
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
          description: 최소 8자, 영문+숫자 조합
        name:
          type: string
        phone:
          type: string
          pattern: '^\d{3}-\d{4}-\d{4}$'
        agreeToTerms:
          type: boolean
          description: 이용약관 동의 (필수)
        agreeToMarketing:
          type: boolean
          description: 마케팅 수신 동의 (선택)

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT Access Token
        refreshToken:
          type: string
          description: JWT Refresh Token
        expiresIn:
          type: integer
          description: Access Token 만료 시간 (초)
          example: 3600
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        tier:
          type: string
          enum:
            - GENERAL
            - VIP
          description: 회원 등급
        createdAt:
          type: string
          format: date-time

    Address:
      type: object
      required:
        - name
        - phone
        - address
        - zipCode
      properties:
        id:
          type: string
        name:
          type: string
          description: 수령인 이름
        phone:
          type: string
          pattern: '^\d{3}-\d{4}-\d{4}$'
          description: 전화번호
        address:
          type: string
          description: 기본 주소
        addressDetail:
          type: string
          description: 상세 주소
        zipCode:
          type: string
          description: 우편번호
        isDefault:
          type: boolean
          description: 기본 배송지 여부

    SizeProfile:
      type: object
      properties:
        height:
          type: number
          description: 키 (cm)
          example: 175
        weight:
          type: number
          description: 몸무게 (kg)
          example: 70
        topSize:
          type: string
          description: 상의 사이즈
          example: "L"
        bottomSize:
          type: string
          description: 하의 사이즈
          example: "32"
        shoeSize:
          type: number
          description: 신발 사이즈 (mm)
          example: 270
        preferredFit:
          type: string
          enum:
            - TIGHT
            - SLIM
            - REGULAR
            - LOOSE
          description: 선호 핏
        bodyType:
          type: string
          enum:
            - SLIM
            - ATHLETIC
            - AVERAGE
            - MUSCULAR
            - HEAVY
          description: 체형

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "BAD_REQUEST"
            message: "요청 데이터가 올바르지 않습니다."

    Unauthorized:
      description: 인증 필요
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "UNAUTHORIZED"
            message: "인증이 필요합니다. 로그인해주세요."

    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "FORBIDDEN"
            message: "접근 권한이 없습니다."

    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "NOT_FOUND"
            message: "요청한 리소스를 찾을 수 없습니다."

    Conflict:
      description: 재고 부족 혹은 중복 데이터 발생 등과 같은 상황의 충돌
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "CONFLICT"
            message: "재고가 부족합니다."

    UnexpectedError:
      description: 예상치 못한 서버 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "INTERNAL_ERROR"
            message: "서버 오류가 발생했습니다. 잠시 후 다시 시도해주세요."